html {
  background-color: #ffeadd;
}

.white {
  background-color: #fff;
}

.nav {
  position: fixed;
  z-index: 100;
}
/* #fcbe96 ffeadd */

.termina-regular {
  font-family: termina,sans-serif;
  font-weight: 400;
  font-style: normal;
}

.termina-heavy {
  font-family: termina,sans-serif;
  font-weight: 800;
  font-style: normal;
}

.termina-demi {
  font-family: rhode, sans-serif;
  font-weight: 500;
  /* font-family: rhode-extended,sans-serif;
  font-weight: 600; */
  font-style: normal;
}

.freight-big {
  font-family: kepler-std-subhead,serif;
  /* font-family: plantin, sans-serif; */
  font-weight: 400;
  font-style: normal;
}

.plantin-italic {
  font-family: plantin, sans-serif;
  font-weight: 400;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #3131ff;
}

a:hover {
  cursor: url(finger.cur), auto;
}

.nav {
  background-color: #fff;
  border: 2px #3131ff solid;
  border-radius: 48px;
}

h1 {
  color: #3131ff;
}

.font-white {
  color: #fff;
}

.font-black {
  color: #000;
}

.bg-yellow {
  background-color: #f8ffab;
  color: #000;
}

.scroll-rtl {
  animation-name: running-footer1;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.scroll-ltr {
  animation-name: running-footer2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes running-footer1 {

  0% {
      transform: translateX(-20%);
  }
  100% {
        transform: translateX(100%);
  }

}

@keyframes running-footer2 {

  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(20%);
  }

}

.arrow-next {
  position: absolute;
  right: 10%;
}

.button {
  background-color: #3131ff;
  border: 2px transparent solid;
  border-radius: 48px;
  color: #fff;
}

.button:hover {
  background-color: #fff;
  border: 2px #3131ff solid;
  border-radius: 48px;
  color: #3131ff;
}

.hover {
  display: none;
}
.nav ul li a:hover .hover {
  display: inline-block;
}

.center .img-flex {
  width: 100vh;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button {
  background: transparent;
}

.flickity-button:hover {
  outline: none;
  color: #000;
}
